.thumbnail {
  width: 100pt;
  height:100pt;
  background-size: cover;
  box-shadow: 0 0 5pt black;
  margin: 0 20pt 20pt 20pt;
  display: block;
  cursor: pointer;
}

.short-input {
  width: 40pt;
}

form {
  background-color: rgb(220,230,230);
  border-radius: 5pt;
  box-shadow: 0 0 8pt black;
  padding: 10pt;
}

canvas {
  box-shadow: 0 0 8pt black;
}

input {
  padding: 2pt;
  padding-left: 4pt;
  border-radius: 4pt;
  margin-left: 10pt;
}

* {
  font-family: 'Comfortaa', serif;
}

body {
  background: #7ab8a8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #7ab8a8, #7aa8b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #7ab8a8, #7aa8b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #7ab8a8, #7aa8b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #7ab8a8, #7aa8b8); /* Standard syntax */
}